[submodule "overlay/lib/libtesla"]
	path = overlay/lib/libtesla
	url = https://github.com/zdm65477730/libtesla.git
[submodule "manager/lib/borealis"]
	path = manager/lib/borealis
	url = https://github.com/zdm65477730/borealis.git
[submodule "sysmodule/lib/minIni"]
	path = sysmodule/lib/minIni
	url = https://github.com/zdm65477730/minIni.git
