[submodule "overlay/lib/tesla"]
	path = overlay/lib/tesla
	url = https://github.com/zdm65477730/libtesla
[submodule "manager/lib/borealis"]
	path = manager/lib/borealis
	url = https://github.com/zdm65477730/borealis.git
